@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	html,body{
		min-height: 100%;
	}
	.background1{
		display: none !important;
	}
	.background2{
		left: 0 !important;
		top: 0 !important;
		width: 100% !important;
		min-height: 1306px !important;
	}
	.white-board{
		height: 540px !important;
	}
	.orange-dots{
		top: 5% !important;
		height: 483px !important;
	}
	.brown-board{
		height: 366px !important;
	}
	.border{
		left: 0 !important;
		width: 100% !important;
	}
	.pumpkin-logo{
		height: 14% !important; 
		left: 63% !important;
	}
	.little{
		font-size: 65px !important;
		left: 13% !important;
	}
	.pumpkin-text{
		font-size: 96px !important;
		top: 15% !important;
		letter-spacing: 10px;
	}
	.the-way{
		font-size: 55px !important;
		top: 22% !important;
	}
	.join{
	    top: 27% !important;
	    font-size: 34px !important;
	    left: 18% !important;
	}
	.honoring{
		top: 30% !important;
    	font-size: 34px !important;
	}
	.line1,
	.line2{
		top: 31% !important;
	}
	.sam,
	.britt{
		font-size: 86px !important;
	}
	.britt{
		left: 23%;
		top: 33% !important;
	}
	.and{
		top: 39% !important;
    	left: 48% !important;
    	font-size: 74px !important;
	}
	.sam{
		left: 26% !important;
		top: 44% !important;
	}
	.date{
		font-size: 46px !important;
    	left: 20% !important;
    	top: 51% !important;
	}
	.time{
		font-size: 36px !important;
	    left: 37% !important;
	    top: 55% !important;
	}
	.where{
		font-size: 46px !important;
    	left: 25% !important;
    	top: 60% !important;
	}
	.address{
		font-size: 36px !important;
    	left: 19% !important;
    	top: 64% !important;
	}
	.rsvp{
		font-size: 46px !important;
    	left: 22% !important;
    	top: 70% !important;
	}
	.contact{
	    font-size: 36px !important;
    	left: 17% !important;
    	top: 74% !important;
	}
	.registry{
		font-size: 46px !important;
    	left: 29% !important;
    	top: 80% !important;
	}
	.amazon{
    	font-size: 59px !important;
    	left: 15% !important;
    	top: 81% !important;
	}
	.white-board{
		top: 27% !important;
	}
	.mediaAmazon2{
	   display: block !important;
	   position: absolute !important;
	   z-index: 10 !important;
	   color: #f96a05 !important;
	   left: 12% !important;
   	   top: 1053px !important;
	   font-size: 70px !important;
	}
	.amazon{
		display: none;
	}
	.boy,
	.girl{
		display: none;
	}
	.container{
		animation: cardFadeIn 1s forwards !important;
	}

}