@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

    body, html {
        overflow: hidden;
        bottom: 0;
    }
<<<<<<< HEAD
    body{

    	height: 1655px;
	
=======
>>>>>>> 386d4065947033202e30848644ba0bd2a3b99274

	.chevron-bg { 
        width: 100%;
        display: none;
    }

    .invite-card {

        position: absolute;
        z-index: 1;
        top: 5%;
        min-height: 90%;
        width: 100%;
    }

    .white-line {
        z-index: 2;
        margin: 0 auto;
        position: relative;
        top: 30%;
        width: 100%;
        height: 33%;
        background-color: #fff;
    }


    .orange-dotted {
        z-index: 2;
        position: relative;
        top: 5%;
        width: 100%;
        height: 90%;
        background-image: url("../img/orange-dotted.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(226, 215, 197);
    }

<<<<<<< HEAD
    .pumpkin {
    	margin-left: 5px;
=======
    .brown-rectangle {
        z-index: 3;
        position: relative;
        top: 11%;
        width: 100%;
        height: 75%;
        background-color:rgb(166, 151, 132);
>>>>>>> 386d4065947033202e30848644ba0bd2a3b99274
    }

    .mobile-front-plate {
        position: absolute;
        bottom: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
    }

    .front-plate-cont {
        display: none;
    }

  /*  .front-plate {
        width: 100%;
        height: 100%;

    }*/
}


@media only screen 
and (max-device-width: 1031px) 
and (-webkit-min-device-pixel-ratio: 2) {
	.chevron-bg {
		display: none;
	}

	.invite-card {
	/*-webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
	margin: 0 auto;
	position: relative;
	top: 115px;*/
	width: 55%;
/*	height: 608px;
	background-image: url("../img/chevron-pattern.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(226, 215, 197);*/
}
}
