@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
	 .chevron-bg {
        display: none;
    }
    body{
    	border: 2px solid red;
    }

    .container{
		position: relative;
		z-index: 1000;
    	-webkit-box-shadow: 0 0 0px #000;
    	box-shadow: 0 0 0px #000;
    	height: 1700px;
    	width: 100%;
    	overflow: hidden;
    }
    .invite-card{
		margin-top: 450px;
    	transform: scale(2.3);
    }

    .white-line, 
    .orange-dotted, 
    .brown-rectangle, 
    .front-plate{

    	transform: scale(2.3);
    }

    .pumpkin{
    	margin-left: 10px;
    }

    .link {
    	font-size: 16px;
    }
}

