@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	body,html{
		min-height: 100%;
		width: 100%;
		overflow: hidden;
	}
	.background1{
		display: none;
	}
	.background2{
		bottom: 18px !important;
		width: 100% !important;
		min-height: 1761px !important;
	}
	.white-board{
		height: 540px !important;
	}
	.orange-dots{
		top: 5% !important;
		height: 483px !important;
	}
	.brown-board{
		height: 366px !important;
	}
	.border{
		left: 0 !important;
		width: 100% !important;
	}
	.pumpkin-logo{
		-webkit-animation-name: topDown;
 	    -webkit-animation-duration: 1s;
   	    -webkit-animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
		height: 11% !important; 
		left: 66% !important;
	}
	.little{
		font-size: 70px !important;
		left: 13% !important;
	}
	.pumpkin-text{
		font-size: 111px !important;
		top: 13% !important;
		letter-spacing: 10px;
	}
	.the-way{
		opacity: 0 !important;
	    -webkit-animation-name: cardFadeIn, leftRight !important;
	    -webkit-animation-duration: 2s, 2s !important;
	    -webkit-animation-delay: 1s, 1.5s !important;
	    -webkit-animation-timing-function: ease !important;
	    -webkit-animation-fill-mode: forwards, forwards !important;
		font-size: 63px !important;
		top: 21% !important;
	}
	.join{
	    top: 27% !important;
	    font-size: 37px !important;
	    left: 16% !important;
	}
	.honoring{
		top: 30% !important;
    	font-size: 37px !important;
	}
	.line1,
	.line2{
		top: 31% !important;
	}
	.sam,
	.britt{
		font-size: 90px !important;
	}
	.britt{
		top: 33% !important;
	}
	.and{
		top: 39% !important;
    	left: 48% !important;
    	font-size: 78px !important;
	}
	.sam{
		top: 44% !important;
	}
	.date{
		font-size: 50px !important;
    	left: 18% !important;
    	top: 51% !important;
	}
	.time{
		font-size: 40px !important;
	    left: 35% !important;
	    top: 55% !important;
	}
	.where{
		font-size: 50px !important;
    	left: 24% !important;
    	top: 60% !important;
	}
	.address{
		font-size: 40px !important;
    	left: 18% !important;
    	top: 64% !important;
	}
	.rsvp{
		font-size: 50px !important;
    	left: 20% !important;
    	top: 70% !important;
	}
	.contact{
	    font-size: 40px !important;
    	left: 14% !important;
    	top: 74% !important;
	}
	.registry{
		font-size: 50px !important;
    	left: 27% !important;
    	top: 80% !important;
	}
	.mediaAmazon2{
	   display: block !important;
	   position: absolute !important;
	   z-index: 10 !important;
	   color: #f96a05 !important;
	   left: 11% !important;
	   top: 1415px !important;
	   font-size: 70px !important;
	}
	.amazon{
		display: none;
	}
	.boy,
	.girl{
		display: none;
	}
	.container{
		animation: cardFadeIn 1s forwards !important;
	}
	.experience{
		text-shadow: 1px 1px 2px #000;
		box-shadow: 1px 1px 2px black;
		position: absolute;
	    padding-top: 57px;
	    z-index: 10;
	    font-size: 74px;
	    top: 25%;
	    left: 5%;
	    background-color: #dcd4c7;
	    /* padding: 60px; */
	    height: 450px;
	    width: 90%;
	    text-align: center;
	    color: #f96a05;
	}
	.okay{
		position: absolute;
	    z-index: 10;
	    left: 37%;
	    font-size: 47px;
	    top: 52%;
	    background-color: #000;
	    padding: 60px;
	    border-radius: 33px;
	}
	.experience,
	.okay{
	    display: block !important;
	}
	.expText{
		margin: 0 auto;
	    width: 80%;
	    position: relative;
	}
}






























