@keyframes fadeAmazon{
	from { color: rgb(249,106,5) };
	to { color: rgb(221,213,200); }
}
@keyframes cardFadeIn{
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes cardFadeOut{
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes topDown{
	from { top: -27%; }
	to { top: 8%; }
}
@keyframes leftRight{
	from { left: 0; }
	to { left: 35%; }
}
@keyframes scaleGlow{
	0% { transform: scale(1); }
	100% { transform: scale(1.05); }
}
@keyframes scaleGlowBack{
	0% { transform: scale(1.05); }
	100% { transform: scale(1); }
}
@keyframes rotate{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}