body {
	margin: 0;
	padding: 0;
	background-image: url("../img/wood-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.chevron-bg {
	border-radius: 5px;
	position: absolute;
	left: 38%;
	margin: 0 auto;
	margin-top: 60px;
	transform: rotate(4deg);
	-webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 10px #000;
	width: 460px;
	height: 636px;
	background-image: url("../img/chevron-pattern.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(226, 215, 197);
}

.invite-card {
	border-radius: 5px;
	-webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
	position: absolute;
	left: 33%;
	top: 100px;
	width: 450px;
	height: 608px;
	background-image: url("../img/chevron-pattern.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(226, 215, 197);
}

.white-line {
	margin-top: 43%;
	width: 450px;
	height: 190px;
	background-color: #fff;
}

.orange-dotted {
	position: absolute;
	top: 204px;
	width: 450px;
	height: 170px;
	background-image: url("../img/orange-dotted.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(226, 215, 197);
}

.brown-rectangle {
	margin-top: 24px;
	width: 450px;
	height: 120px;
	background-color:rgb(166, 151, 132);
}

.front-plate {
	position: absolute;
	left: 34%;
	top: 13%;
	background-repeat: no-repeat;
	background-size: cover;

}

.pumpkin {
	position: relative;
	bottom: 450px;
	right: 190px;
}

.little {
	font-size: 25px;
	text-shadow: .5px .5px 1px black;
	position: relative;
	bottom: 565px;
	left: 45px;
	font-family: janda;
	color: rgb(220, 118, 51);
}

.pumpkin-text {
	color: rgb(221, 213, 200  );
	text-shadow: 1px 1px 2px #000;
	font-size: 40px;
	font-family: 'Great Vibes', cursive;
	position: relative;
	bottom: 610px;
	left: 60px;
	letter-spacing: 3px;
}

.the-way {
	letter-spacing: 2px;
	font-size: 25px;
	text-shadow: .5px .5px 1px black;
	position: relative;
	bottom: 660px;
	left: 138px;
	font-family: janda;
	color: rgb(220, 118, 51);
}

.join {
	/*color: rgb(221, 213, 200  );
	text-shadow: 1px 1px 2px #000;*/
	position: relative;
	bottom: 680px;
	left: 84px;
	/*text-align: center;*/
}

.honor {
	position: relative;
	text-align: center;
	bottom: 346px;
}


.main-container {
	
}





@font-face {
   font-family: janda;
   src: url("../fonts/JandaAppleCobbler.ttf");
}



























