@media only screen and (max-width: 760px) {
/*    .background1{
    	left: 32% !important;
    	width: 2px !important;
		transform: none !important;
    }   
    .background2{
		transform: none !important;
    }
}
@media only screen and (max-width: 570px) {
	.background1{
		left: 39% !important;
	}
}
@media only screen and (max-width: 517px) {
	.background1{
		left: 43% !important;
	}
}
@media only screen and (max-width: 483px) {
	.background1{
		left: 46% !important;
	}
}
@media only screen and (max-width: 468px) {
	.background1{
		left: 48% !important;
	}*/
}
