@media only screen and (max-width: 1154px) {
  .background2 {
    bottom: 461px !important; } }
@media only screen and (max-width: 1011px) {
  .background2 {
    bottom: 643px !important; } }
@media only screen and (max-width: 605px) {
  .background2 {
    bottom: 827px !important; }

  .background1 {
    animation: cardFadeOut 1s forwards !important; } }
@media only screen and (max-width: 547px) {
  .background2 {
    bottom: 1012px !important; } }
@media only screen and (max-width: 760px) {
  .background1 {
    animation: cardFadeOut 1s forwards !important; } }
@media only screen and (min-width: 760px) {
  .background1 {
    animation: cardFadeIn 1s forwards !important; } }
@media only screen and (max-width: 446px) {
  .background2 {
    bottom: 1195px !important; } }
@media only screen and (max-width: 443px) {
  .background2 {
    bottom: 1379px !important; } }
@media only screen and (max-width: 345px) {
  .background2 {
    bottom: 1564px !important; } }
@media only screen and (max-width: 1155px) {
  .boy,
  .girl {
    top: 362px !important; } }
@media only screen and (max-width: 1010px) {
  .boy {
    top: 423px !important; } }
@media only screen and (max-width: 1010px) {
  .girlContainer {
    bottom: 308px !important; } }
@keyframes fadeAmazon {
  from {
    color: #f96a05; }
  to {
    color: #ddd5c8; } }
@keyframes cardFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes cardFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes topDown {
  from {
    top: -27%; }
  to {
    top: 8%; } }
@keyframes leftRight {
  from {
    left: 0; }
  to {
    left: 35%; } }
@keyframes scaleGlow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.05); } }
html, body {
  min-height: 100%;
  width: 100%; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/fall-bg.jpg"); }

.container {
  opacity: 0; }

.background1 {
  -webkit-animation-name: cardFadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
  z-index: -100;
  border-radius: 10px;
  opacity: 0;
  transform: rotate(12deg);
  position: absolute;
  top: 70px;
  left: 39%;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  width: 450px;
  height: 625px;
  background-image: url("../img/chevron-pattern.png"); }

.background2 {
  transform: scale(1);
  -webkit-animation-name: cardFadeIn, scaleGlow;
  -webkit-animation-duration: 1s, 10s;
  -webkit-animation-delay: 8s, 8s;
  -webkit-animation-fill-mode: forwards, forwards;
  border-radius: 10px;
  opacity: 0;
  position: relative;
  margin: 0 auto;
  bottom: 280px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  width: 450px;
  height: 625px;
  background-image: url("../img/chevron-pattern.png"); }

.white-board {
  width: 100%;
  top: 31%;
  height: 192px;
  background-color: #fff;
  position: relative; }

.orange-dots {
  position: relative;
  top: 7%;
  height: 166px;
  width: 100%;
  background-image: url("../img/orange-dotted.jpg"); }

.brown-board {
  position: relative;
  top: 12%;
  height: 124px;
  width: 100%;
  background-color: #a89680; }

.border {
  position: absolute;
  left: 5%;
  z-index: 1;
  width: 90%;
  height: 100%; }

@font-face {
  font-family: "janda";
  src: url("../fonts/jandaAppleCobbler.ttf"); }
.little {
  font-family: 'Lakki Reddy', cursive, Times, serif;
  color: #f96a05;
  display: inline;
  position: absolute;
  top: 8%;
  z-index: 10;
  font-size: 32px;
  left: 16%; }

.pumpkin-logo {
  -webkit-animation-name: topDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 9s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  position: absolute;
  top: -27%;
  left: 62%;
  z-index: 1;
  width: 19%;
  height: 14%; }

.pumpkin-text {
  font-family: 'Great Vibes', cursive;
  display: inline;
  position: absolute;
  top: 15%;
  z-index: 10;
  font-size: 48px;
  left: 19%;
  letter-spacing: 4px; }

.the-way {
  opacity: 0;
  -webkit-animation-name: cardFadeIn, leftRight;
  -webkit-animation-duration: 2s, 2s;
  -webkit-animation-delay: 9.5s, 10s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards, forwards;
  font-family: 'Lakki Reddy', cursive, Times, serif;
  color: #f96a05;
  display: inline;
  position: absolute;
  top: 24%;
  z-index: 10;
  font-size: 33px;
  left: 0; }

.join {
  display: inline;
  position: absolute;
  top: 32%;
  z-index: 10;
  font-size: 15px;
  left: 19%; }

.honoring {
  text-align: center;
  position: relative;
  z-index: 10;
  top: 35%; }

.line1 {
  position: absolute;
  z-index: 10;
  width: 18%;
  top: 35%;
  left: 20%; }

.line2 {
  position: absolute;
  z-index: 10;
  width: 18%;
  top: 35%;
  left: 61%; }

.sam,
.britt {
  color: #f96a05;
  font-family: 'Great Vibes', cursive;
  position: absolute;
  z-index: 10;
  font-size: 40px; }

.sam {
  left: 25%;
  top: 50%; }

.britt {
  left: 22%;
  top: 38%; }

.and {
  top: 45%;
  z-index: 10;
  position: absolute;
  left: 49%;
  font-size: 30px;
  font-family: 'Great Vibes', cursive;
  display: inline; }

.date,
.time {
  position: absolute;
  z-index: 10;
  display: inline; }

.date {
  font-size: 19px;
  left: 23%;
  top: 58%; }

.time {
  font-size: 18px;
  left: 35%;
  top: 61%; }

.where,
.address {
  position: absolute;
  z-index: 10;
  display: inline; }

.where {
  font-size: 19px;
  left: 28%;
  top: 66%; }

.address {
  font-size: 18px;
  left: 16%;
  top: 69%; }

.rsvp,
.contact {
  position: absolute;
  z-index: 10;
  display: inline; }

.rsvp {
  font-size: 19px;
  left: 25%;
  top: 74%; }

.contact {
  font-size: 18px;
  left: 15%;
  top: 77%; }

.registry,
.amazon {
  position: absolute;
  z-index: 10;
  display: inline; }

.registry {
  font-size: 19px;
  left: 32%;
  top: 82%; }

.amazon {
  opacity: 0;
  color: #f96a05;
  text-decoration: none;
  font-size: 24px;
  left: 20%;
  top: 84%; }
  .amazon:hover {
    cursor: pointer;
    color: #616161;
    animation: fadeAmazon 1s forwards; }

.pumpkin-text,
.join,
.honoring,
.and,
.date,
.time,
.where,
.address,
.rsvp,
.contact,
.registry {
  color: #616161; }

.mediaAmazon2 {
  display: none !important; }

.boy {
  font-family: 'Lakki Reddy', cursive, Times, serif;
  text-shadow: 1px 1px 2px black;
  color: #f96a05;
  font-size: 110px;
  position: relative;
  left: 15%;
  top: 300px;
  padding-left: 25px;
  display: inline; }

.girl {
  font-family: 'Lakki Reddy', cursive, Times, serif;
  text-shadow: 1px 1px 2px black;
  color: #f96a05;
  font-size: 110px;
  position: relative;
  left: 9%;
  top: 300px;
  padding-left: 25px;
  display: inline; }

.boyContainer {
  position: relative; }

.girlContainer {
  opacity: 0;
  position: relative;
  bottom: 183px; }

.desktopHide {
  position: absolute;
  z-index: 10; }

.okay,
.experience {
  display: none; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  body, html {
    min-height: 100%;
    width: 100%;
    overflow: hidden; }

  .background1 {
    display: none; }

  .background2 {
    -webkit-animation-name: cardFadeIn !important;
    -webkit-animation-duration: 1s !important;
    -webkit-animation-delay: 0s !important;
    -webkit-animation-fill-mode: forwards !important;
    bottom: 18px !important;
    width: 100% !important;
    min-height: 1761px !important; }

  .white-board {
    height: 540px !important; }

  .orange-dots {
    top: 5% !important;
    height: 483px !important; }

  .brown-board {
    height: 366px !important; }

  .border {
    left: 0 !important;
    width: 100% !important; }

  .pumpkin-logo {
    -webkit-animation-name: topDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    height: 11% !important;
    left: 66% !important; }

  .little {
    font-size: 70px !important;
    left: 13% !important; }

  .pumpkin-text {
    font-size: 111px !important;
    top: 13% !important;
    letter-spacing: 10px; }

  .the-way {
    opacity: 0 !important;
    -webkit-animation-name: cardFadeIn, leftRight !important;
    -webkit-animation-duration: 2s, 2s !important;
    -webkit-animation-delay: 1s, 1.5s !important;
    -webkit-animation-timing-function: ease !important;
    -webkit-animation-fill-mode: forwards, forwards !important;
    font-size: 63px !important;
    top: 21% !important; }

  .join {
    top: 27% !important;
    font-size: 37px !important;
    left: 16% !important; }

  .honoring {
    top: 30% !important;
    font-size: 37px !important; }

  .line1,
  .line2 {
    top: 31% !important; }

  .sam,
  .britt {
    font-size: 90px !important; }

  .britt {
    top: 33% !important; }

  .and {
    top: 39% !important;
    left: 48% !important;
    font-size: 78px !important; }

  .sam {
    top: 44% !important; }

  .date {
    font-size: 50px !important;
    left: 18% !important;
    top: 51% !important; }

  .time {
    font-size: 40px !important;
    left: 35% !important;
    top: 55% !important; }

  .where {
    font-size: 50px !important;
    left: 24% !important;
    top: 60% !important; }

  .address {
    font-size: 40px !important;
    left: 18% !important;
    top: 64% !important; }

  .rsvp {
    font-size: 50px !important;
    left: 20% !important;
    top: 70% !important; }

  .contact {
    font-size: 40px !important;
    left: 14% !important;
    top: 74% !important; }

  .registry {
    font-size: 50px !important;
    left: 27% !important;
    top: 80% !important; }

  .mediaAmazon2 {
    display: block !important;
    position: absolute !important;
    z-index: 10 !important;
    color: #f96a05 !important;
    left: 11% !important;
    top: 1415px !important;
    font-size: 70px !important; }

  .amazon {
    display: none; }

  .boy,
  .girl {
    display: none; }

  .container {
    opacity: 1 important;
    animation: cardFadeIn 1s forwards !important;
    animation-delay: 0s !important; }

  .experience {
    text-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    position: absolute;
    padding-top: 57px;
    z-index: 10;
    font-size: 74px;
    top: 25%;
    left: 5%;
    background-color: #dcd4c7;
    /* padding: 60px; */
    height: 450px;
    width: 90%;
    text-align: center;
    color: #f96a05; }

  .okay {
    position: absolute;
    z-index: 10;
    left: 37%;
    font-size: 47px;
    top: 52%;
    background-color: #000;
    padding: 60px;
    border-radius: 33px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html, body {
    min-height: 100%; }

  .background1 {
    display: none !important; }

  .background2 {
    -webkit-animation-name: cardFadeIn !important;
    -webkit-animation-duration: 1s !important;
    -webkit-animation-delay: 0s !important;
    -webkit-animation-fill-mode: forwards !important;
    left: 0 !important;
    bottom: 18px !important;
    width: 100% !important;
    min-height: 1324px !important; }

  .white-board {
    height: 540px !important; }

  .orange-dots {
    top: 5% !important;
    height: 483px !important; }

  .brown-board {
    height: 366px !important; }

  .border {
    left: 0 !important;
    width: 100% !important; }

  .pumpkin-logo {
    -webkit-animation-name: topDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    height: 14% !important;
    left: 63% !important; }

  .little {
    font-size: 65px !important;
    left: 13% !important; }

  .pumpkin-text {
    font-size: 96px !important;
    top: 15% !important;
    letter-spacing: 10px; }

  .the-way {
    opacity: 0 !important;
    -webkit-animation-name: cardFadeIn, leftRight !important;
    -webkit-animation-duration: 2s, 2s !important;
    -webkit-animation-delay: 1s, 1.5s !important;
    -webkit-animation-timing-function: ease !important;
    -webkit-animation-fill-mode: forwards, forwards !important;
    font-size: 55px !important;
    top: 22% !important; }

  .join {
    top: 27% !important;
    font-size: 34px !important;
    left: 18% !important; }

  .honoring {
    top: 30% !important;
    font-size: 34px !important; }

  .line1,
  .line2 {
    top: 31% !important; }

  .sam,
  .britt {
    font-size: 86px !important; }

  .britt {
    left: 23%;
    top: 33% !important; }

  .and {
    top: 39% !important;
    left: 48% !important;
    font-size: 74px !important; }

  .sam {
    left: 26% !important;
    top: 44% !important; }

  .date {
    font-size: 46px !important;
    left: 20% !important;
    top: 51% !important; }

  .time {
    font-size: 36px !important;
    left: 37% !important;
    top: 55% !important; }

  .where {
    font-size: 46px !important;
    left: 25% !important;
    top: 60% !important; }

  .address {
    font-size: 36px !important;
    left: 19% !important;
    top: 64% !important; }

  .rsvp {
    font-size: 46px !important;
    left: 22% !important;
    top: 70% !important; }

  .contact {
    font-size: 36px !important;
    left: 17% !important;
    top: 74% !important; }

  .registry {
    font-size: 46px !important;
    left: 29% !important;
    top: 80% !important; }

  .amazon {
    font-size: 59px !important;
    left: 15% !important;
    top: 81% !important; }

  .white-board {
    top: 27% !important; }

  .mediaAmazon2 {
    display: block !important;
    position: absolute !important;
    z-index: 10 !important;
    color: #f96a05 !important;
    left: 12% !important;
    top: 1053px !important;
    font-size: 70px !important; }

  .amazon {
    display: none; }

  .boy,
  .girl {
    display: none; }

  .container {
    animation: cardFadeIn 1s forwards !important; } }

/*# sourceMappingURL=style.css.map */
