@keyframes fadeAmazon {
  from {
    color: #f96a05; }
  to {
    color: #ddd5c8; } }
html, body {
  min-height: 100%;
  width: 100%; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/wood-bg.jpg"); }

.background1 {
  transform: rotate(12deg);
  position: relative;
  top: 70px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  width: 450px;
  height: 625px;
  background-image: url("../img/chevron-pattern.png"); }

.background2 {
  position: absolute;
  left: 30%;
  top: 70px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  width: 450px;
  height: 625px;
  background-image: url("../img/chevron-pattern.png"); }

.white-board {
  width: 100%;
  top: 31%;
  height: 192px;
  background-color: #fff;
  position: relative; }

.orange-dots {
  position: relative;
  top: 7%;
  height: 166px;
  width: 100%;
  background-image: url("../img/orange-dotted.jpg"); }

.brown-board {
  position: relative;
  top: 12%;
  height: 124px;
  width: 100%;
  background-color: #a89680; }

.border {
  position: absolute;
  left: 5%;
  z-index: 1;
  width: 90%;
  height: 100%; }

.wreath {
  position: absolute;
  z-index: 100;
  width: 25%;
  height: 15%;
  background-image: url("...img/wreath.png"); }

@font-face {
  font-family: "janda";
  src: url("../fonts/jandaAppleCobbler.ttf"); }
.little {
  color: #f96a05;
  display: inline;
  font-family: janda;
  position: absolute;
  top: 8%;
  z-index: 10;
  font-size: 27px;
  left: 16%; }

.pumpkin-logo {
  position: absolute;
  top: 8%;
  left: 62%;
  z-index: 1;
  width: 19%;
  height: 14%; }

.pumpkin-text {
  font-family: 'Great Vibes', cursive;
  display: inline;
  position: absolute;
  top: 15%;
  z-index: 10;
  font-size: 48px;
  left: 19%;
  letter-spacing: 4px; }

.the-way {
  color: #f96a05;
  font-family: janda;
  display: inline;
  position: absolute;
  top: 22%;
  z-index: 10;
  font-size: 31px;
  left: 32%; }

.join {
  display: inline;
  position: absolute;
  top: 32%;
  z-index: 10;
  font-size: 15px;
  left: 19%; }

.honoring {
  text-align: center;
  position: relative;
  z-index: 10;
  top: 35%; }

.line1 {
  position: absolute;
  z-index: 10;
  width: 18%;
  top: 35%;
  left: 20%; }

.line2 {
  position: absolute;
  z-index: 10;
  width: 18%;
  top: 35%;
  left: 61%; }

.sam,
.britt {
  color: #f96a05;
  font-family: 'Great Vibes', cursive;
  position: absolute;
  z-index: 10;
  font-size: 40px; }

.sam {
  left: 25%;
  top: 50%; }

.britt {
  left: 22%;
  top: 38%; }

.and {
  top: 45%;
  z-index: 10;
  position: absolute;
  left: 49%;
  font-size: 30px;
  font-family: 'Great Vibes', cursive;
  display: inline; }

.date,
.time {
  position: absolute;
  z-index: 10;
  display: inline; }

.date {
  font-size: 19px;
  left: 23%;
  top: 58%; }

.time {
  font-size: 18px;
  left: 35%;
  top: 61%; }

.where,
.address {
  position: absolute;
  z-index: 10;
  display: inline; }

.where {
  font-size: 19px;
  left: 28%;
  top: 66%; }

.address {
  font-size: 18px;
  left: 16%;
  top: 69%; }

.rsvp,
.contact {
  position: absolute;
  z-index: 10;
  display: inline; }

.rsvp {
  font-size: 19px;
  left: 25%;
  top: 74%; }

.contact {
  font-size: 18px;
  left: 15%;
  top: 77%; }

.registry,
.amazon {
  position: absolute;
  z-index: 10;
  display: inline; }

.registry {
  font-size: 19px;
  left: 32%;
  top: 82%; }

.amazon {
  color: #f96a05;
  text-decoration: none;
  font-size: 18px;
  left: 30%;
  top: 86%; }
  .amazon:hover {
    cursor: pointer;
    color: #616161;
    animation: fadeAmazon 1s forwards; }

.pumpkin-text,
.join,
.honoring,
.and,
.date,
.time,
.where,
.address,
.rsvp,
.contact,
.registry {
  color: #616161; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  body, html {
    min-height: 100%;
    width: 100%; }

  .background1 {
    display: none; }

  .background2 {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    min-height: 100% !important; }

  .white-board {
    height: 540px !important; }

  .orange-dots {
    top: 5% !important;
    height: 483px !important; }

  .brown-board {
    height: 366px !important; }

  .border {
    left: 0 !important;
    width: 100% !important; }

  .pumpkin-logo {
    height: 11% !important;
    left: 66% !important; }

  .little {
    font-size: 70px !important;
    left: 13% !important; }

  .pumpkin-text {
    font-size: 111px !important;
    top: 14% !important;
    letter-spacing: 10px; }

  .the-way {
    font-size: 63px !important;
    top: 20% !important; }

  .join {
    top: 27% !important;
    font-size: 37px !important;
    left: 16% !important; }

  .honoring {
    top: 30% !important;
    font-size: 37px !important; }

  .line1,
  .line2 {
    top: 31% !important; }

  .sam,
  .britt {
    font-size: 90px !important; }

  .britt {
    top: 33% !important; }

  .and {
    top: 39% !important;
    left: 48% !important;
    font-size: 78px !important; }

  .sam {
    top: 44% !important; }

  .date {
    font-size: 50px !important;
    left: 18% !important;
    top: 51% !important; }

  .time {
    font-size: 40px !important;
    left: 35% !important;
    top: 55% !important; }

  .where {
    font-size: 50px !important;
    left: 24% !important;
    top: 60% !important; }

  .address {
    font-size: 40px !important;
    left: 18% !important;
    top: 64% !important; }

  .rsvp {
    font-size: 50px !important;
    left: 20% !important;
    top: 70% !important; }

  .contact {
    font-size: 40px !important;
    left: 14% !important;
    top: 74% !important; }

  .registry {
    font-size: 50px !important;
    left: 27% !important;
    top: 80% !important; }

  .amazon {
    font-size: 59px !important;
    left: 21% !important;
    top: 84% !important; } }

/*# sourceMappingURL=style.css.map */
