body {
  overflow: hidden;
  min-height: 100%;
  border: 2px solid green;
  margin: 0;
  padding: 0;
  background-image: url("../img/wood-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.chevron-bg {
  position: absolute;
  left: 40%;
  margin-top: 60px;
  transform: rotate(12deg);
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 10px #000;
  width: 460px;
  height: 636px;
  background-image: url("../img/chevron-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2d7c5; }

.invite-card {
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  margin: 0 auto;
  position: relative;
  top: 125px;
  width: 450px;
  height: 608px;
  background-image: url("../img/chevron-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2d7c5; }

.white-line {
  margin: 0 auto;
  position: relative;
  bottom: 285px;
  width: 450px;
  height: 190px;
  background-color: #fff; }

.orange-dotted {
  margin: 0 auto;
  position: relative;
  bottom: 465px;
  width: 450px;
  height: 170px;
  background-image: url("../img/orange-dotted.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2d7c5; }

.brown-rectangle {
  margin: 0 auto;
  position: relative;
  bottom: 651px;
  margin-top: 40px;
  width: 450px;
  height: 120px;
  background-color: #a69784; }

.front-plate {
  text-align: center;
  position: relative;
  bottom: 1005px; }

.pumpkin {
  position: absolute;
  bottom: 1486px;
  left: 52%; }

.card-content {
  display: inline-block;
  /*border: 2px solid red;*/
  position: relative;
  bottom: 1675px;
  left: 428px; }

@font-face {
  font-family: janda;
  src: url("../fonts/JandaAppleCobbler.ttf"); }
.little {
  position: relative;
  right: 40px;
  bottom: 572px;
  font-size: 25px;
  font-family: janda;
  color: #dc7633; }

.pumpkin-text {
  color: #a79780;
  font-size: 40px;
  font-family: 'Great Vibes', cursive;
  position: relative;
  right: 60px;
  bottom: 628px;
  letter-spacing: 4px; }

.the-way {
  letter-spacing: 2px;
  font-size: 25px;
  position: relative;
  bottom: 680px;
  font-family: janda;
  color: #dc7633; }

.join {
  font-family: 'Forum', cursive;
  color: #a79780;
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
  bottom: 707px; }

.line1 {
  position: relative;
  left: 93px;
  bottom: 713px;
  width: 8%; }

.line2 {
  position: relative;
  right: 95px;
  bottom: 779px;
  width: 8%; }

.line3 {
  position: relative;
  bottom: 927px;
  width: 23%; }

.line4 {
  position: relative;
  bottom: 970px;
  width: 1%; }

.honor {
  font-family: 'Forum', cursive;
  color: #a79780;
  font-size: 14px;
  position: relative;
  bottom: 745px; }

.britt {
  color: #dc7633;
  font-size: 29px;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1px;
  position: relative;
  bottom: 800px; }

.and {
  color: #a79780;
  position: relative;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-family: 'Great Vibes', cursive;
  font-size: 29px;
  bottom: 855px; }

.sam {
  letter-spacing: 1px;
  color: #dc7633;
  position: relative;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
  bottom: 908px; }

.date {
  position: relative;
  bottom: 945px; }

.time {
  position: relative;
  bottom: 973px; }

.residence {
  position: relative;
  bottom: 986px; }

.address {
  position: relative;
  bottom: 1016px; }

.rsvp {
  position: relative;
  bottom: 1020px; }

.contact {
  position: relative;
  bottom: 1048px; }

.registration {
  position: relative;
  bottom: 1067px; }

a {
  text-decoration: none;
  position: relative;
  bottom: 1098px; }

.date,
.time,
.residence,
.address,
.rsvp,
.contact,
.registration,
.link {
  /*text-shadow: 2px 2px 4px black;*/
  color: #a79780;
  font-family: 'Forum', cursive;
  font-size: 20px;
  position: relative; }

.link:hover {
  color: #dc7633; }

/*# sourceMappingURL=style.css.map */
